-e file:.
black
collectiontools
cook-build
flake8
jupyter
jupytext[myst]
line_profiler
matplotlib
networkx
numpy
pip-tools
pytest
pytest-cov
git+https://github.com/tillahoffmann/scikit-abc
scikit-learn
scipy
snakeviz
tqdm
